.side{
    width: 300px ;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--color-neutral);
    z-index: 100;
    transition: width 300ms;
    border-right: 1px solid rgba(0,0,0,0.2);
}