<div class="side">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a routerLink="dashboard" routerLinkActive="active">
                    <span class="fas fa-home" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="dashboard" routerLinkActive="active">
                    <span class="fas fa-home" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard"></span>
                    <span>Dashboard</span>
                </a>
            </li>  <li>
                <a routerLink="dashboard" routerLinkActive="active">
                    <span class="fas fa-home" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard"></span>
                    <span>Dashboard</span>
                </a>
            </li>  <li>
                <a routerLink="dashboard" routerLinkActive="active">
                    <span class="fas fa-home" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard"></span>
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>    
</div>