<div class="main-div">


<mat-card>
    <mat-card-header>
        <h1>add new camera</h1>
    </mat-card-header>
    <mat-card-content>
        
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>nom</mat-label>
              <input type="nom" matInput [formControl]="nom" placeholder="Ex. pat@example.com">
              @if (nom.hasError('nom') && !nom.hasError('required')) {
                <mat-error>Please enter a valid nom address</mat-error>
              }
              @if (nom.hasError('required')) {
                <mat-error>nom is <strong>required</strong></mat-error>
              }
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>localisation</mat-label>
                <input type="localisation" matInput [formControl]="localisation" placeholder="Ex. pat@example.com">
                @if (localisation.hasError('localisation') && !localisation.hasError('required')) {
                  <mat-error>Please enter a valid localisation address</mat-error>
                }
                @if (localisation.hasError('required')) {
                  <mat-error>localisation is <strong>required</strong></mat-error>
                }
             
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>ip</mat-label>
                <input type="ip" matInput [formControl]="ip" placeholder="Ex. pat@example.com">
                @if (ip.hasError('ip') && !ip.hasError('required')) {
                  <mat-error>Please enter a valid ip address</mat-error>
                }
                @if (ip.hasError('required')) {
                  <mat-error>ip is <strong>required</strong></mat-error>
                }
              </mat-form-field>
              <mat-card-actions align="end">
                <button mat-raised-button
                (click)="onSubmit()"
                >Save</button>
                <span class="spacer"></span>
              <button mat-raised-button 
              routerLink="/home/cameras"
              color="warn">cancel</button>
                </mat-card-actions>
          </form>

    </mat-card-content>
  </mat-card>

  </div>