<div class="main-div">


  <mat-card>
      <mat-card-header>
          <h1>update camera {{camera.nom}}</h1>
      </mat-card-header>
      <mat-card-content>
          
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>nom</mat-label>
                <input type="nom" matInput name="nom" [(ngModel)]="camera.nom" placeholder=" nom ">
                 
              </mat-form-field>
  
  
              <mat-form-field class="example-full-width">
                  <mat-label>localisation</mat-label>
                  <input type="localisation" matInput name="localisation" [(ngModel)]="camera.localisation" placeholder=" localisation ">
                  
               
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>ip</mat-label>
                  <input type="ip" matInput name="ip" [(ngModel)]="camera.adresseIP" placeholder=" ip ">
                  
                </mat-form-field>
                
                <p><mat-slide-toggle name="status" [(ngModel)]=" statut">{{statut ? 'desactive' : 'active'}}</mat-slide-toggle></p>


                <mat-card-actions align="end">
                  <button mat-raised-button
                  (click)="onSubmit()"
                  >Save</button>
                  <span class="spacer"></span>
                <button mat-raised-button
                routerLink="/home/cameras"
                color="warn">cancel</button>
                  </mat-card-actions>
            </form>
  
      </mat-card-content>
    </mat-card>
  
    </div>