<div class="main-div">


    <mat-card>
        <mat-card-header>
            <h1>Login</h1>
        </mat-card-header>
        <mat-card-content>
            
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>username</mat-label>
                  <input type="text" matInput [formControl]="email" placeholder="Ex. foulen">
                  @if (email.hasError('email') && !email.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                  }
                  @if (email.hasError('required')) {
                    <mat-error>email is <strong>required</strong></mat-error>
                  }
                </mat-form-field>
    
    
               <mat-form-field class="example-full-width">
                    <mat-label>password</mat-label>
                    <input type="password" matInput [formControl]="password" placeholder="Ex. pat@example.com">
                    @if (password.hasError('password') && !password.hasError('required')) {
                      <mat-error>Please enter a valid password address</mat-error>
                    }
                    @if (password.hasError('required')) {
                      <mat-error>password is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>
                  <mat-card-actions align="end">
                    <button mat-raised-button
                    (click)="login()"
                    >Login</button> 
                    </mat-card-actions>
              </form>
    
        </mat-card-content>
      </mat-card>
    
      </div>