<mat-toolbar color="primary">
    <span>Camera MANAGER</span>

    <span style="margin-left: 20px;">
      <button mat-stroked-button 
      
      routerLink="/home/users"
      >
          user list
      </button>
  </span>


  <span style="margin-left: 20px;">
    <button mat-stroked-button 
        routerLink="/home/add-user"
    >
        add new user
    </button>
</span>


    <span style="margin-left: 20px;">
        <button mat-stroked-button 
            routerLink="/home/add-camera"
        >
            add new camera
        </button>
    </span>
    <span style="margin-left: 20px;">
        <button mat-stroked-button 
        
        routerLink="/home/cameras"
        >
            cameras list
        </button>
    </span>

    <span class="spacer"></span>

    
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        
        <button mat-menu-item routerLink="/home/profile">
            <mat-icon>person</mat-icon>
            <span>profile</span>
          </button>
      
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>logout</span>
        </button>
      </mat-menu>
      

</mat-toolbar>