<div class="main-div">


    <mat-card>
        <mat-card-header>
            <h1>Update User </h1>
        </mat-card-header>
        <mat-card-content>
            
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>nom</mat-label>
                  <input name="nom" type="nom" matInput [(ngModel)]="user.nom_utilisateur " placeholder="Ex. pat@example.com">
                 
                </mat-form-field>
    
    
                <mat-form-field class="example-full-width">
                    <mat-label>prenom</mat-label>
                    <input name="prenom" type="prenom" matInput [(ngModel)]="user.prenom" placeholder="Ex. pat@example.com">
                   
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>email</mat-label>
                    <input name="email" type="email" matInput [(ngModel)]="user.email" placeholder="Ex. pat@example.com">
                   
                  </mat-form-field>
                  
                  <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select [(ngModel)]="user.role" name="role">
                      <mat-option value="administrateur">administrateur </mat-option>
                      <mat-option value="utilisateur standard">utilisateur standard</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-card-actions align="end">
                    <button mat-raised-button
                    (click)="onSubmit()"
                    >Save</button>
                    <span class="spacer"></span>
                  <button mat-raised-button 
                  routerLink="/home/users"
                  color="warn">cancel</button>
                    </mat-card-actions>
              </form>
    
        </mat-card-content>
      </mat-card>
    
      </div>